@charset "UTF-8";

html,
body {
  height: 100%;
}

body {
  align-content: center;
}

.sr-only {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.avatars_area {
  width: 316px;
  margin: 0 auto;

  .avatars_list {
    display: flow-root;
  }

  .avatars_item {
    float: left;
    position: relative;

    &:not(:nth-child(4n + 1)) {
      margin-left: 20px;
    }

    &:nth-child(n + 5) {
      margin-top: 20px;
    }

    .avatar img {
      overflow: hidden;
      border-radius: 50%;
    }

    .status {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #fff;
      border-radius: 50%;
      background-color: #bcc3c7;
      box-sizing: border-box;

      &[aria-label='온라인'] {
        background-color: #03cc5c;
      }
    }
  }
}
